:root {
    --white:#fbedd6;
    --mainBg:#292a27;
    --wrongAnswer:#db5737;
    --rightAnswer:#3da54f;
    --green:#42a882;
    --answersBg:#f7f08d;
}

*,
*::before,
*::after {
    box-sizing:border-box;
}

body {
    margin: 0;
    font-size:26px;
    font-family: 'Solway', serif;

}

.hero {
    padding:200px 0;
    background:var(--green);
}

.container {
    width:80%;
    margin: 0 auto;
    padding:2rem;
    background:var(--mainBg);
    border-radius:10px;
    box-shadow:0 0 10px;
}

img {
    max-width:100%;
}

.row {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

.answers {
    display:grid;
    gap:2rem;
    grid-template-columns:repeat(2, minmax(50px, 1fr));
    margin:2rem 0;
}

.btn {
    font-size:20px;
    padding:.5rem;
    border:5px solid var(--green);
    background:var(--white);
    border-radius:5px;
    outline:none;
    font-family: 'Solway', serif;
    cursor: pointer;
}

.btn:hover {
    border-color:black;
}

.correct{
  display: inline-block;
  margin: 0 0.5rem;
  background:var(--rightAnswer);

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration:1.8s; 
    
}

.wrong {
    background:var(--wrongAnswer);
}

.controls {
    display:flex;
    justify-content:center;
    align-items:center;
}

.start-btn, .next-btn {
    font-size:1.5rem;
    font-weight:bold;
    padding:1rem 2rem;
}

.hide {
    display:none;
}

